body { background: #eee; }



/*============= MAIN MENU ==========*/
nav ul li { display:inline-block; }
nav ul li a { padding: 5px 10px; }



#main { background: white; padding:1em;}

#footer { text-align:center; padding:1em; }


<<<<<<< HEAD
button { padding: 5px 1em; border-radius:0 ; cursor:pointer;}

input[type="text"] { width:100%; }
.hideit { display:none }  
.remove-student:hover, .remove-term:hover { cursor: not-allowed}
=======
.hideit { display:none}  
>>>>>>> parent of 80ebcad... finalize student CRUD
